#
# System
#

# PIDs
*.pid
*.seed
*.pid.lock
pids

# File manager configs
.directory
Thumbs.db
.DS_Store

#
# Generic
#

# Build directory
dist/

# tmp files
temp/
tmp/

# Logs
logs/
*.log

# dotenv
.env
.env.*
!.env.example

# SQLite DB
*.db
*.db-journal

#
# Deb
#
/debs/*/debian/.debhelper/
/debs/*/debian/files
/debs/*/debian/debhelper-build-stamp
/debs/*/debian/*.substvars
/debs/**/*.build
/debs/**/*.buildinfo
/debs/**/*.changes
/debs/**/*.deb
/debs/**/*.dsc
/debs/**/*.tar.xz

/debs/*/debian/neon-ime-ja/
